.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    background-color:aquamarine;
}

.navlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 2.5vw;
}

.login-component{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:2vw;
    align-items:center;
}

.login-button{
    width: 5vw;;
    text-decoration:none;
    color: white;
    border-style:outset;
    border-color:white;
    border-width:2px;
    background-color: #65403a;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}